DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/clinicdb

# JWT Secret for authentication
JWT_SECRET=your-secret-key-change-in-production

# to run backend use this command
#  uvicorn app.main:app --reload

