DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/clinic

# JWT Secret for authentication
JWT_SECRET=your-secret-key-change-in-production

# SMTP Configuration for sending emails
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=krama.care@gmail.com
SMTP_PASSWORD=jmee ulsy lovr onte
FROM_EMAIL=krama.care@gmail.com
SENDER_NAME=Krama Care

# to run backend use this command
#  uvicorn app.main:app --reload